<p><%= link_to portfollio_item.title, portfollio_show_path(portfollio_item.id) %></p>
<p><%= portfollio_item.subtitle %></p>
<p><%= portfollio_item.body %></p>
<%= image_tag portfollio_item.thumb_image if !portfollio_item.thumb_image.nil? %>
<%= link_to "Edit", edit_portfolio_path(portfolio_item) if logged_in?(:site_admin) %>

<%= button_to "Delete my account", portfollio_path(portfollio_item), form: { data: { turbo_confirm: "Are you sure?" } } , method: :delete if logged_in?(:site_admin) %>